.google-results{
    border-radius: 1em;
    background-color: #88828212;
    min-width: 70vw;
    padding: 2em;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}

.google-results > ul > li {
    background-color: rgba(35, 37, 65, 0.074);
    border-radius: 0.5em;
    padding: 0 0.5em ;
    margin: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
