.dashboard-container{
    display: flex;
    align-items: end;
    background-color: #a7a7a72a;
    justify-content: space-around;
    text-align: center;
    height: 70vh;
    flex-wrap: wrap;
    gap: 0.5em;
}
.chart-container{
    flex: 1 1 6em;
    /* padding: 1em; */
}
.chart{
    background-color: rgb(176, 231, 255);

}
.chart-container>p{
    padding-top: 1em;
}
.label-present{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}